//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#define ZMK_POINTING_DEFAULT_MOVE_VAL 1500  // default: 600

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

#define BASE       0
#define NUM        1
#define SYM        2
#define NAV        3
#define ARROW      4
#define ADJ        5

// &mt {
//     quick-tap-ms = <200>;
//     global-quick-tap;
//     flavor = "tap-preferred";
//     tapping-term-ms = <170>;
// };

&lt {
    tapping-term-ms = <170>;
    quick-tap-ms = <200>;
    flavor = "tap-preferred";
};

/ {
    macros {
        inst_grave: inst_grave { label = "instant grave"; compatible = "zmk,behavior-macro"; #binding-cells = <0>;
            bindings = <&macro_press &kp LSHFT>, <&macro_tap &kp GRAVE>, <&macro_release &kp LSHFT>; };
        a_grave: a_grave { compatible = "zmk,behavior-macro"; #binding-cells = <0>;
            bindings = <&macro_tap &kp GRAVE>, <&macro_tap &kp A>; };

        a_acute: a_acute { compatible = "zmk,behavior-macro"; #binding-cells = <0>;
            bindings = <&macro_tap &kp SQT>, <&macro_tap &kp A>; };
        o_acute: o_acute { compatible = "zmk,behavior-macro"; #binding-cells = <0>;
            bindings = <&macro_tap &kp SQT>, <&macro_tap &kp O>; };
        e_acute: e_acute { compatible = "zmk,behavior-macro"; #binding-cells = <0>;
            bindings = <&macro_tap &kp SQT>, <&macro_tap &kp E>; };
        i_acute: i_acute { compatible = "zmk,behavior-macro"; #binding-cells = <0>;
            bindings = <&macro_tap &kp SQT>, <&macro_tap &kp I>; };
        u_acute: u_acute { compatible = "zmk,behavior-macro"; #binding-cells = <0>;
            bindings = <&macro_tap &kp SQT>, <&macro_tap &kp U>; };

        a_circ: a_circ { compatible = "zmk,behavior-macro"; #binding-cells = <0>;
            bindings = <&macro_press &kp LSHFT>, <&macro_tap &kp N6>, <&macro_release &kp LSHFT>, <&macro_tap &kp A>; };
        o_circ: o_circ { compatible = "zmk,behavior-macro"; #binding-cells = <0>;
            bindings = <&macro_press &kp LSHFT>, <&macro_tap &kp N6>, <&macro_release &kp LSHFT>, <&macro_tap &kp O>; };
        e_circ: e_circ { compatible = "zmk,behavior-macro"; #binding-cells = <0>;
            bindings = <&macro_press &kp LSHFT>, <&macro_tap &kp N6>, <&macro_release &kp LSHFT>, <&macro_tap &kp E>; };

        a_tilde: a_tilde { compatible = "zmk,behavior-macro"; #binding-cells = <0>;
            bindings = <&macro_press &kp LSHFT>, <&macro_tap &kp GRAVE>, <&macro_release &kp LSHFT>, <&macro_tap &kp A>; };
        o_tilde: o_tilde { compatible = "zmk,behavior-macro"; #binding-cells = <0>;
            bindings = <&macro_press &kp LSHFT>, <&macro_tap &kp GRAVE>, <&macro_release &kp LSHFT>, <&macro_tap &kp O>; };
        c_cedil: c_cedil { compatible = "zmk,behavior-macro"; #binding-cells = <0>;
            bindings = <&macro_press &kp LSHFT>, <&macro_tap &kp GRAVE>, <&macro_release &kp LSHFT>, <&macro_tap &kp C>; };

    };
    combos {
        compatible = "zmk,combos";

        combo_lgcs { timeout-ms = <25>; key-positions = <10 11 12 13>;       // A + R + S + T
            bindings = <&kp LG(LC(LSHFT))>; };
        combo_rgcs { timeout-ms = <25>; key-positions = <16 17 18 19>;       // M + N + E + I
            bindings = <&kp RG(RC(RSHFT))>; };

        combo_lall { timeout-ms = <25>; key-positions = <16 7 18 19>;       // M + N + E + I
            bindings = <&kp LG(LC(LA((RSHFT))))>; };
        combo_rall { timeout-ms = <25>; key-positions = <10 11 2 13>;       // M + N + E + I
            bindings = <&kp RG(RC(RA((RSHFT))))>; };

        combo_lshift { timeout-ms = <25>; key-positions = <12 13>;       // T + S
            bindings = <&kp LSHFT>; };

        combo_rshift { timeout-ms = <25>; key-positions = <16 17>;       // M + N
            bindings = <&kp RSHFT>; };

        combo_lctrl { timeout-ms = <25>; key-positions = <12 11>;       // S + R
            bindings = <&kp LCTRL>; };

        combo_rctrl { timeout-ms = <25>; key-positions = <17 18>;       // N + E
            bindings = <&kp RCTRL>; };

        combo_lalt { timeout-ms = <25>; key-positions = <2 1>;         // F + W
            bindings = <&kp LALT>; };

        combo_ralt { timeout-ms = <25>; key-positions = <7 8>;         // L + U
            bindings = <&kp RALT>; };

        combo_lgui { timeout-ms = <25>; key-positions = <10 11>;       // A + R
            bindings = <&kp LGUI>; };

        combo_rgui { timeout-ms = <25>; key-positions = <18 19>;       // E + I
            bindings = <&kp RGUI>; };

        combo_lgui_alt { timeout-ms = <25>; key-positions = <10 2>;        // A + F
            bindings = <&kp LG(LALT)>; };

        combo_rgui_alt { timeout-ms = <25>; key-positions = <7 19>;        // L + I
            bindings = <&kp RG(RALT)>; };

        combo_lgui_ctrl { timeout-ms = <25>; key-positions = <10 11 12>;    // A R S
            bindings = <&kp LG(LCTRL)>; };

        combo_rgui_ctrl { timeout-ms = <25>; key-positions = <17 18 19>;    // N E I
            bindings = <&kp LG(LCTRL)>; };

        combo_lgui_shift { timeout-ms = <25>; key-positions = <10 11 13>;    // A R T
            bindings = <&kp LG(LSHFT)>; };

        combo_rgui_shift { timeout-ms = <25>; key-positions = <16 18 19>;    // M E I
            bindings = <&kp RG(RSHFT)>; };

        combo_lalt_shift { timeout-ms = <25>; key-positions = <2 13>;        // F T
            bindings = <&kp LA(LSHFT)>; };

        combo_ralt_shift { timeout-ms = <25>; key-positions = <7 16>;        // L M
            bindings = <&kp RA(RSHFT)>; };


        /*
        * Functional combos
        */

        combo_caps { timeout-ms = <25>; key-positions = <3 4>;         // P + B
            bindings = <&kp CAPS>; };

        combo_esc { timeout-ms = <25>; key-positions = <16 19>;       // M + I
            bindings = <&kp ESC>; };

        combo_tab { timeout-ms = <25>; key-positions = <0 1>;         // Q + W
            bindings = <&kp TAB>; };

        combo_backspace { timeout-ms = <25>; key-positions = <17 26>;       // K + N
            bindings = <&kp BSPC>; };

        combo_delete { timeout-ms = <25>; key-positions = <26 27>;       // K + H
            bindings = <&kp DEL>; };

        /*
        * Navigation layer:
        *
        * QMK:
        *   W + F + T -> TT(LAY_NAV)
        *   M + L + U -> TT(LAY_NAV)
        *
        * ZMK doesn't have a direct TT equivalent, so sticky layer
        * is the closest useful representation here.
        */

        combo_arrow_left { timeout-ms = <25>; key-positions = <1 13>;      // W T
            bindings = <&sl ARROW>; };
        combo_arrow_right { timeout-ms = <25>; key-positions = <16 8>;      // M U
            bindings = <&sl ARROW>; };
        combo_nav_left { timeout-ms = <25>; key-positions = <1 2 13>;      // W F T
            bindings = <&sl NAV>; };
        combo_nav_right { timeout-ms = <25>; key-positions = <16 7 8>;      // M L U
            bindings = <&sl NAV>; };

    };

    keymap {
        compatible = "zmk,keymap";

        //                     ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓   ┏━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┳━━━━━━━━━━━┓
        //                     ┃00   Q     ┃01   W     ┃02   F     ┃03   P     ┃04   B     ┃   ┃05         ┃06   O     ┃07   L     ┃08   U     ┃09   Y     ┃ 
        //                     ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫
        //                     ┃10   A     ┃11   R     ┃12   S     ┃13   T     ┃14   G     ┃   ┃15   J     ┃16   M     ┃17   N     ┃18   E     ┃19   I     ┃
        //         ┏━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┓
        //         ┃31   ESC   ┃20   Z     ┃21   X     ┃22   C     ┃23   D     ┃24         ┃   ┃25   V     ┃26   K     ┃27   H     ┃28   ,     ┃29   .     ┃31  TAB    ┃
        //         ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┫   ┣━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━╋━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛
        //                                             ┃36         ┃32 \SPC    ┃33         ┃   ┃34         ┃35 \ENTER  ┃37         ┃
        //                                             ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛   ┗━━━━━━━━━━━┻━━━━━━━━━━━┻━━━━━━━━━━━┛

        base_layer {
            //     ╷           ╷           ╷           ╷           ╷           ╷           ╷   ╷           ╷           ╷           ╷           ╷           ╷           ╷

            label = "BASE"; bindings = <
                                &kp Q       &kp W       &kp F       &kp P       &kp B           &none       &kp O       &kp L       &kp U       &kp Y
                                &kp A       &kp R       &kp S       &kp T       &kp G           &kp J       &kp M       &kp N       &kp E       &kp I
                                &kp Z       &kp X       &kp C       &kp D       &none           &kp V       &kp K       &kp H       &kp COMMA   &kp DOT     &none       &none
                                                                    &lt SYM SPACE &none           &mo NAV  &lt NUM ENTER  &none  &none
            >;
        };
        num_layer {
            //     ╷           ╷           ╷           ╷           ╷           ╷           ╷   ╷           ╷           ╷           ╷           ╷           ╷           ╷

            label = "NUM"; bindings = <

                                &kp EXCL    &kp AT      &kp HASH    &kp DLLR    &kp PRCNT       &trans      &kp AMPS    &kp ASTRK   &kp PLUS    &kp EQUAL
                                &kp N1      &kp N2      &kp N3      &kp N4      &kp N5          &kp N6      &kp N7      &kp N8      &kp N9      &kp N0
                                &inst_grave &kp TILDE   &kp MINUS   &kp UNDER   &trans          &kp CARET   &kp SEMI    &kp COLON   &kp SQT     &kp DQT     &trans      &trans
                                                                    &kp SPACE   &trans          &trans      &trans      &trans &trans
            >;
        };
        sym_layer {
            //     ╷           ╷           ╷           ╷           ╷           ╷           ╷   ╷           ╷           ╷           ╷           ╷           ╷           ╷

            label = "SYM"; bindings = <
                                &trans      &trans      &kp BSLH    &kp FSLH    &trans          &o_tilde    &kp RBKT    &u_acute    &trans      &trans
                                &a_grave    &a_tilde    &a_acute    &a_circ     &kp QMARK       &trans      &o_acute    &kp LBKT    &e_acute    &i_acute
                                &kp LPAR    &kp RPAR    &c_cedil    &kp LBKT    &trans          &trans      &o_circ     &kp RBKT    &e_circ     &trans      &trans      &trans
                                                                    &trans      &trans          &trans      &kp ENTER   &trans &trans
            >;
        };
        nav_layer {
            label = "NAV"; bindings = <
                                &trans    &mkp RCLK     &mkp LCLK   &trans      &trans          &trans &msc SCRL_LEFT &msc SCRL_DOWN &msc SCRL_UP  &msc SCRL_RIGHT
                                &trans      &trans      &trans      &trans      &trans          &trans &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_UP  &mmv MOVE_RIGHT
                                &trans      &trans      &trans      &trans      &trans          &trans      &trans      &trans      &trans      &trans       &trans      &trans
                                                                    &trans      &trans          &trans      &kp ENTER   &trans &trans
            >;
        };
        arrow_layer {
            label = "ARROW"; bindings = <
                                &trans      &trans      &trans      &trans      &trans          &trans      &trans       &trans     &trans      &trans
                                &trans      &trans      &trans      &trans      &trans          &trans      &kp LEFT     &kp DOWN   &kp UP      &kp RIGHT
                                &mo ADJ     &trans      &trans      &trans      &trans          &trans      &trans       &trans     &trans      &trans      &trans      &trans
                                                                    &trans      &trans          &trans      &trans       &trans &trans
            >;
        };
        adj_layer {
            label = "ADJ"; bindings = <
                               &bootloader  &trans      &trans      &trans      &trans          &trans      &trans       &trans     &trans      &trans
                             &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &trans      &trans          &trans      &trans       &trans     &trans      &trans
                                &trans      &trans      &trans      &trans      &trans          &trans      &trans       &trans     &trans      &trans      &trans      &bd BT_CLR
                                                                    &trans      &trans          &trans      &trans       &trans &trans
            >;
        };
    //     adj_layer {
    //         display-name = "ADJ";
    //
    //         bindings = <
    //             &bt BT_SEL 0       &bt BT_SEL 1       &bt BT_SEL 2          &bt BT_SEL 3       &trans             &trans
    //
    //             &sys_reset         &trans             &trans             &trans             &trans          &trans             &kp F1             &kp F2             &kp F3             &kp F4
    //
    //             &bootloader        &trans             &trans             &trans             &trans          &trans             &kp F5             &kp F6             &kp F7             &kp F8
    //             &kp F9
    //
    //             &trans             &trans             &trans          &trans             &kp F10            &kp F11
    //         >;
    //     };
    //     arrow_layer {
    //         display-name = "ARROW";
    //
    //         bindings = <
    //                     &trans        &trans       &kp BRI_UP    &kp BRI_DN    &kp C_PP      &trans       &kp HOME     &kp PG_DN     &kp PG_UP    &kp END */
    //                     &kp C_VOL_DN  &kp C_VOL_UP &kp C_PREV    &kp C_NEXT    &trans        &trans       &kp LEFT     &kp DOWN      &kp UP       &kp RIGHT
    //               &trans    &trans       &trans        &trans        &trans        &trans        &trans       &trans       &trans        &trans       &trans    &trans
    //                                                &trans        &trans        &trans        &trans       &trans       &trans
    //         >;
    //     };
    //     opts_layer {
    //         display-name = "OPTS";
    //
    //         bindings = <
    //                          &trans       &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3    &trans       &trans        &trans        &trans        &sys_reset
    //                          &kp F1       &kp F2        &kp F3        &kp F4        &kp F5          &kp F6       &kp F7        &kp F8        &kp F9        &kp F10        &kp F11
    //             &bootloader  &trans        &trans        &trans       &trans        &trans          &kp F12      &trans        &trans        &trans        &trans
    //                          &trans       &trans        &trans                                      &trans       &trans        &trans
    //         >;
    //     };
    };
};
